img {
    position: absolute;
    z-index: 100 !important;
    padding: 90px;
    padding-left: 0px;
    max-width: 100vw;
    transform: rotateX(-40deg) rotateY(32deg);
}
p {
    position: absolute;
    right: 90px;
    bottom: 40px;
    font-family: "Geeza Pro", "Nadeem", "Al Bayan", "DecoType Naskh", "DejaVu Serif", "STFangsong", "STHeiti", "STKaiti", "STSong", "AB AlBayan", "AB Geeza", "AB Kufi", "DecoType Naskh", "Aldhabi", "Andalus", "Sakkal Majalla", "Simplified Arabic", "Traditional Arabic", "Arabic Typesetting", "Urdu Typesetting", "Droid Naskh", "Droid Kufi", "Roboto", "Tahoma", "Times New Roman", "Arial", serif;;
    font-size: 3em;
    font-weight: 900;
    color: #5B4F08;
    z-index: 101 !important;
    transform: rotateX(-40deg) rotateY(32deg);
}
span {
    color: #828BD3;
}
body{
    overflow: hidden;
    background:#fff;
    color:black;
    font-size: 30px;
    font-family:calibri;
    margin: 0 !important;
}
canvas {
    z-index: 10 !important;
    height: 100vh !important;
    width: 100vw !important;
    transform-style: preserve-3d;
    transform: rotateX(-40deg) rotateY(32deg);
}
button{
    background:#aaf;
    color:white;
    padding:10px;
    font-size:20px;
    width:100px;
    border:none;
    outline:none;
}
button:active{
    padding:9px;
}
