img {
    position: absolute;
    z-index: 100 !important;
    padding: 90px;
    padding-left: 0px;
    max-width: 100vw;
    transform: rotateX(-40deg) rotateY(32deg);
}
body{
    overflow: hidden;
    background:#fff;
    color:black;
    font-size: 30px;
    font-family:calibri;
    margin: 0 !important;
}
canvas {
    z-index: 10 !important;
    height: 100vh !important;
    width: 100vw !important;
    transform-style: preserve-3d;
    transform: rotateX(-40deg) rotateY(32deg);
}
button{
    background:#aaf;
    color:white;
    padding:10px;
    font-size:20px;
    width:100px;
    border:none;
    outline:none;
}
button:active{
    padding:9px;
}
