<html>
<head>
    <!-- style sheets -->
    <link rel="stylesheet" href="assets/css/main.css">

    <!-- scripts -->
    <script src="assets/js/dependencies/jquery.min.js"></script>
    <script src="assets/js/dependencies/meyda/meyda.min.js"></script>
    <script src="assets/js/dependencies/p5/p5.min.js"></script>
    <script src="assets/js/dependencies/p5/addons/p5.dom.min.js"></script>
    <script src="assets/js/sketch.js"></script>

    <!-- The first thing in any HTML file should be the charset -->
    <meta charset="utf-8">

    <!-- Make the page mobile compatible -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Allow installing the app to the homescreen -->
    <meta name="mobile-web-app-capable" content="yes">

    <link rel="icon" href="/favicon.ico" />
    <title>Premium Ads</title>
</head>
<body>
    <img src="../assets/media/premiumLogo.png"/>
    <p>Say <span>password</span> to login</p>
    <script type="text/javascript">
        if (screen.width <= 699) {
            window.location.href = "https://home.premiumads.org";
        }
    </script>
</body>
</html>
